# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Django
db.sqlite3
*.log
staticfiles/

# Node
node_modules/
frontend/node_modules/

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db